#banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: lightblue;
}

#content {
    margin-top: 100px;
}

.flex-container {
    display: flex;
    flex-flow: column;
    width: 80vw;
    margin: 0 auto;
    margin-top: 8em;
}

.file-info {
    display: flex;
}

.file-info > div {
    margin: .1em;
    height: 40px;
    font-size: 20px;
}

#icon {
    width: 30px;
    text-align: center;
}

#name {
    flex: auto;
}

#size {
    width: 100px;
    margin-left: auto;
    text-align: right;
}

#last-modified {
    width: 250px;
    margin-left: auto;
    text-align: right;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: lightgray;
}