#banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: lightblue;
}

#content {
    margin-top: 100px;
}

.flex-container {
    display: flex;
    flex-flow: column;
    width: 80vw;
    margin: 0 auto;
    margin-top: 8em;
}

.file-info {
    display: flex;
}

.file-info > div {
    margin: .1em;
    height: 40px;
    font-size: 20px;
}

#icon {
    width: 30px;
    text-align: center;
}