#readme-header {
    background-color: royalblue;
    color: white;
}

#readme-content {
    background-color: lightgray;
}

#banner {
    background-color: royalblue;
    color: white;
}

#path a {
    color: white;
}

.flex-container a:nth-child(odd) {
    background-color: lightblue;
}

.flex-container a:hover {
    background-color: lightgray;
}

.modal-body {
    background-color: white;
    color: black;
}

.button {
    background-color: lightblue;
    color: black;
}

.codeblock {
    background: #f5f2f0;
}
