#readme-header {
    background-color: royalblue;
    color: white;
}

#readme-content {
    background-color: lightgray;
}

#banner {
    background-color: lightblue;
}

.flex-container a:nth-child(odd) {
    background-color: lightblue;
}

.flex-container a:hover {
    background-color: lightgray;
}