.display-image-flex-container {
    display: flex;
    flex-flow: wrap;
    text-align: center;
}

.display-image {
    width: 300px;
    height: 300px;
    margin: 1em;
}

.display-image img {
    max-width: 100%;
    max-height: 100%;
}

.display-image i {
    font-size: 10em;
    color: black;
}

.display-image p {
    color: black;
}

.display-image a {
    text-decoration: none;
}