{% extends 'base.html.twig' %}

{% block banner %}
<div class="path">
    <a href="/">Home</a> /

    {% for folder in path.exploded %}
        <a href="{{ path.exploded | buildPath(loop.index0) }}">{{ folder }}</a> /
    {% endfor %}
</div>
{% endblock %}

{% block content %}
    {% if readme is not null %}
        <div id="readme">
            <div id="readme-header">
                README
            </div>
            <div id="readme-content">
                {{ readme | raw }}
            </div>
        </div>
    {% endif %}

    <div id="file-display">
        {{ include(display) }}
    </div>

    <template id="filepreview">
        <h2 class="preview-title"></h2> <a class="button" download><i class="fa-solid fa-download"></i></a> <a class="button" id="share"><i class="fa-solid fa-share-nodes"></i></a>

        <div class="preview-content">

        </div>
    </template>
{% endblock %}