{% extends 'base.html.twig' %}

{% block banner %}
<div class="path">
    <a href="/">Home</a> /

    {% for folder in path.exploded %}
        <a href="{{ path.exploded | buildPath(loop.index0) }}">{{ folder }}</a> /
    {% endfor %}
</div>
{% endblock %}

{% block content %}
    {% if readme is not null %}
        <div id="readme">
            <div id="readme-header">
                README
            </div>
            <div id="readme-content">
                {{ readme | raw }}
            </div>
        </div>
    {% endif %}

    <span id="file-display">
        {{ include(display) }}
    </span>

    <template id="filepreview">
        <h2></h2>

        <div id="content" style="margin-bottom: 1em;">

        </div>

        <a class="button">Download</a>
    </template>
{% endblock %}